{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'items:main' %}">
        <img src="{% static 'img/logo.jpg' %}" class="navbar-logo" alt="">
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'items:item_create' %}">상품 등록</a>
            <a class="nav-item nav-link" href="{% url 'items:customer_create' %}">거래처 등록</a>
            <a class="nav-item nav-link" href="{% url 'items:customer_list' %}">거래처 관리</a>
        </div>
    </div>
</nav>