{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Pirogramming - 재고 관리
{% endblock %}

{% block content %}
<div class="container main-container">
    <div class="row">
        {% for item in items %}
        <div class="col-4">
            <div class="card item-card">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail">
                        <div class="centered">
                            {% if item.photo %}
                            <img src="{{ item.photo.url }}">
                            {% else %}
                            <img src="{% static 'img/logo.jpg' %}">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'items:item_detail' item.id %}">{{ item.name }}</a></h5>
                    <p class="card-text">가격 : {{ item.price }}</p>
                    <p class="card-text">남은 수량 : {{ item.amount }}</p>
                    <a href="{% url 'items:item_decrease' item.id %}"><button>-</button></a>
                    <a href="{% url 'items:item_increase' item.id %}"><button>+</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}